NEXTAUTH_SECRET=secret-key
NEXTAUTH_URL=http://localhost:3000

DATABASE_URL=mongodb://localhost:27017/image-annotation
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

MEDIAWIKI_CONSUMER_KEY=
MEDIAWIKI_CONSUMER_SECRET=

MDWIKI_CONSUMER_KEY=
MDWIKI_CONSUMER_SECRET=

NCCOMMONS_CONSUMER_KEY=
NCCOMMONS_CONSUMER_SECRET=

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example

NEXT_PUBLIC_APP_URL=http://localhost:3000
USER_AGENT=Tool-Name/version (https://tool-link; contact@email.com)

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest