body {
  background-color: #eee;
}

a {
  text-decoration: none;
}

.tui-image-editor-header-logo {
  display: none;
}

.tui-image-editor-container
  .color-picker-control
  .tui-colorpicker-palette-button {
  width: 15px;
  height: 15px;
}

.tui-colorpicker-palette-container ul.tui-colorpicker-clearfix {
  display: flex;
  flex-wrap: wrap;
}
.tui-image-editor-controls-logo img {
  display: none !important;
}
.tui-image-editor-container .tui-image-editor-help-menu.top,
.tui-image-editor-menu {
  max-width: 100%;
  overflow-y: auto;
}

.tui-image-editor-header-buttons {
  display: none;
}
